.left {
  float: left;
  text-align: center;
}

.durationSize {
  width: 30px;
}

.dateSize {
  width: 132px;
}

.labelBlock {
  display: block;
}

div.form {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
